

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#F9FaF8;
}

body {
    padding: 0;
    margin: 0;
}

.top-section {
    background-color: #1f2937;
    color: #F9FaF8;
}

.top-section img {
    max-width: 500px;
    max-height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-links {
    display: flex;
    list-style-type: none;
    font-style: 18px;
    gap: 16px;
}

.logo {
    font-size: 24px;
}

.top-info {
    display: flex;
}

.info-text{

}